.gradle/
/build/
bin/
.idea/
!gradle-wrapper.jar
.DS_Store
.project
.classpath
.gitignore
build.gradle
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.vscode/launch.json
