/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
buttonStyle{
    -fx-font-family: "Comix Loud";
    -fx-font-size: 14;

}

.header{
    -fx-font-family: "Comix Loud";
    -fx-font-size:30;
}

.buttonStyle:hover{
    -fx-background-color: #FFA200;
    -fx-text-fill: #000000;
    -fx-font-size: 16;
}
@font-face {
    font-family: "Comix Loud";
    src: url('/fonts/Comix Loud.ttf');
}


@font-face { 
	src: url('/fonts/KOMTXT_.ttf');
}

@font-face { 
	src: url('/fonts/KOMTXTBI.ttf');
}

.action-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(163, 111, 87, 1), 8, 0, 0, 0);
}
.selected-button {
    -fx-effect: dropshadow(three-pass-box, rgba(163, 111, 87, 1), 15, 0, 0, 0);
}

.action-button{
    -fx-background-color: black;
}

.submit-button{
    -fx-background-color: white;
    -fx-background-radius: 5, 5;
    -fx-background-insets: -1.4, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(150, 150, 150), 10, 0, 0, 0);
    -fx-text-fill: rgb(150, 150, 150);
}
.submit-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(107, 224, 71), 15, 0, 0, 0);
}
.submit-button:pressed {
    -fx-background-color: rgb(107, 224, 71);
    -fx-text-fill: rgb(255, 255, 255);
}
.grid{
    -fx-effect: dropshadow(three-pass-box, rgba(126, 126, 126, 0.8), 500, 0, 0, 0);
}

.layout-item:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 8, 0, 0, 0);

}

.text{
    -fx-color: red;
    -fx-font-family: "KOMTXT_";
    -fx-font-size:14;
}

.bold_text{
    -fx-font-family: "KOMTXTBI";
    -fx-font-size:14;
}

.headerFont{
    -fx-font-family: "Comix Loud";
    -fx-font-size:14;

}

